.featured-recieps-conatiner {
  margin: 50px 150px;
}
.thumb-container {
  width: 150px;
  /* height: 200px; */
  overflow: hidden;
}
.details-cont {
  width: 18em;
  height: 118px;
  overflow: auto;
}
.card {
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  border-radius: 0.375rem;
  -webkit-filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04));
}
.label {
  color: #94a3b8;
}
.tag {
  font-size: 10px;
}
